*{
    margin: 0;
    box-sizing: border-box;
}
header ul{
    display: flex;
    justify-content: center;
}
header ul li {
    list-style: none;
    font-weight: 900;
    font-size: larger;
    margin: 0 20px;
}
header ul li a {
    text-decoration: none;
    color: aliceblue;
}
header {
    background-color: #333;
    padding: 50px 0;
}

.picprofile{
    width: 30%;
}
.picprofile img {
    width: 100%;
    height: auto;
}
.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.profile h1  {
    margin: 20px 0;
}
.profile p  {
    margin: 10px 0;
}
main{
    display: flex;
    justify-content: space-evenly;
    padding: 50px 50px;
}